html {
	font-family: sans-serif;
	font-size: large;
	font-weight: bold;
}

#content {
	position: absolute;
	left: 89px;
	top: 41px;

	.content-header {
		color: #00b048;
	}
	
	.content-body {
		margin-top: 34px;
		margin-right: 8px;
	}
}
