.Collapsible__trigger {
	width: 98%;
	background-color: #fdb6d4;
	color: white;
	padding-left: 2%;
}

.Collapsible__contentInner {
	padding: 10px;
	background-color: #FAEBF1;
	font-size: 15px;
	font-weight: 400;
}