.event-panel {
    background: #FAEBF1;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    border-radius: 5px;

    .event-name {
        text-decoration: underline;
    }
    .event-location {
        font-style: italic;
        font-size: 16px;
        margin-top: 5px;
    }
}